module.exports = {
  "MYSQL_HOST_1": "{MYSQL_HOST_1}",
  "MYSQL_HOST_2": "{MYSQL_HOST_2}",
  "MYSQL_HOST_3": "{MYSQL_HOST_3}",
  "MYSQL_PORT_1": "{MYSQL_PORT_1}",
  "MYSQL_PORT_2": "{MYSQL_PORT_2}",
  "MYSQL_PORT_3": "{MYSQL_PORT_3}",
  "MYSQL_USERNAME": "{MYSQL_USERNAME}",
  "MYSQL_PASSWORD": "{MYSQL_PASSWORD}"
};