[mysqld]

ssl-ca=/optcustom-certificates/ca.pem
ssl-cert=/optcustom-certificates/server-cert.pem
ssl-key=/optcustom-certificates/server-key.pem
ssl-cipher=DHE-RSA-AES256-SHA
require_secure_transport=ON